{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Homepage{% endblock %}

{% block body %}
<h1> Welcome to homepage </h1>


<div>
    <p>Number of products : {{ products | length }}</p>

    {# this is a comment #}
    <ul>
        {% for product in products %}
            <li>
               <a href="{{ path('app_product_product_detail' , {id: product.id} ) }}">{{ product.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

