{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Homepage{% endblock %}

{% block body %}
<h1> Welcome to homepage </h1>


<div>
    <p>Number of products : {{ numsProduct }}</p>

    {# this is a comment #}
    <p>Thank you for your buying</p>
</div>
{% endblock %}

