{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block actions %}
    <div class="btn-group">
        <a href="" class="btn btn-success btn-outline btn-sm">
            <i class="fa fa-plus-circle"></i>
        </a>
    </div>
{% endblock %}